{% extends 'base.html' %}

{% block content %}

<div class="container">
  <div class="jumbotron mt-5">
    <h1>{{category.name}}</h1>

  </div>
  <ul class="list-inline mt-5">
    {%for category in other_categories %}
      <li class="list-inline-item">
        <h5>
          <a class="social-icon text-xs-center badge badge-primary" href="{% url 'category' category.slug  %}">{{category.name}}</a>
        </h5>
      </li>
    {% endfor %}
  </ul>
  
  <div class="row">
    <div class="col-8">
        {% for item in article %}
        <div class="card">
          <h5 class="card-header">{{category.name}}</h5>
          <div class="card-body">
            <h5 class="card-title"><a href="{{item.slug}}">{{item.title}}</a></h5>
            <small> <strong>{{item.user}}</strong>&nbsp; - &nbsp; {{item.created}}  </small> 
            <p class="card-text">{{item.desc}}</p>
            <a href="{{item.slug}}" class="btn btn-primary">Đọc tiếp</a>
          </div>
        </div>
        {% endfor%}
    </div>
    <div class="card bg-light mb-4" style="max-width: 18rem;">
      <div class="card-header">Header</div>
      <div class="card-body">
        <h5 class="card-title">Light card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      </div>
    </div>
  </div>
  
</div>

{% endblock %}


