{% extends 'base.html' %}

{% block content %}
<div class="container">
  <div class="jumbotron mt-5">
    <h1>{{category.name}}</h1>

  </div>
  <ul class="list-inline mt-5">
    {%for category in other_categories %}
      <li class="list-inline-item">
        <h5>
          <a class="social-icon text-xs-center badge badge-primary" href="{% url 'category' category.slug  %}">{{category.name}}</a>
        </h5>
      </li>
    {% endfor %}
  </ul>
  
  <div class="row">
    <div class="col-8">
        {% for item in article %}
        <div style="box-shadow: 1px 4px 14px -1px rgba(122,122,122,0.75);">
          <div class="content p-2 row" style="gap: 1rem;">
            <div class="card_thumbnail col-4">
              <img class="align-self-center" src="{{item.img}}" alt="" width="100%">
            </div>
            <div class="card_info col-6">
              <h5 class="tittle">{{item.title}}</h5>
              <p class="description">{{item.desc}}</p>
              <a href="{{item.slug}}" class="btn btn-primary">Đọc tiếp</a>
            </div>
          </div>
        </div>
        <br>
        {% endfor%}
    </div>
    <div class="card bg-light mb-4" style="max-width: 18rem;">
      <div class="card-header">Header</div>
      <div class="card-body">
        <h5 class="card-title">Light card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      </div>
    </div>
  </div>
  
</div>

{% endblock %}


