<footer class="page-footer bg-light">
  <div class="bg-primary">
    <div class="container">
      <div class="row py-4 d-flex align-items-center">
        <div class="col-md-12 text-center">
          <a href=""><i class='bx bxl-facebook-square text-white mr-4'></i></a>
          <a href=""><i class='bx bxl-twitter text-white mr-4'></i></a>
          <a href=""><i class='bx bxl-telegram text-white mr-4'></i></a>
          <a href=""><i class='bx bxl-instagram text-white mr-4'></i></a>
        </div>
      </div>
    </div>
  </div>
  <div class="container text-center text-md-left mt-5">
    <div class="row">
      <div class="col-md-3 mx-auto mb-4">
        <h6 class="text-uppercase font-weight-bold">Providers</h6>
        <hr class="bg-primary mb-4 mt-0 d-inline-block mx-auto" style="width: 125px; height: 2px;">
        <p class="mt-2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim ipsum fuga minus sint soluta tenetur iste iure error voluptatum non impedit, porro eaque ex pariatur eius distinctio, fugiat voluptatem delectus?</p>
      </div>
      <div class="col-md-3 mx-auto mb-4">
        <h6 class="text-uppercase font-weight-bold">Products</h6>
        <hr class="bg-primary mb-4 mt-0 d-inline-block mx-auto" style="width: 85px; height: 2px;">
        <ul class="list-unstyled">
          <li class="my-2"><a href="#">HTML 5</a></li>
          <li class="my-2"><a href="#">CSS 3</a></li>
          <li class="my-2"><a href="#">Boostrap 4</a></li>
          <li class="my-2"><a href="#">Javascript</a></li>
        </ul>
      </div>
      <div class="col-md-2 mx-auto mb-4">
        <h6 class="text-uppercase font-weight-bold">Usefull Links</h6>
        <hr class="bg-primary mb-4 mt-0 d-inline-block mx-auto" style="width: 85px; height: 2px;">
        <ul class="list-unstyled">
          <li class="my-2"><a href="#">Home</a></li>
          <li class="my-2"><a href="#">About</a></li>
          <li class="my-2"><a href="#">Services</a></li>
          <li class="my-2"><a href="#">Contact</a></li>
        </ul>
      </div>

      <div class="col-md-3 mx-auto mb-4">
        <h6 class="text-uppercase font-weight-bold">Contact</h6>
        <hr class="bg-primary mb-4 mt-0 d-inline-block mx-auto" style="width: 75px; height: 2px;">
        <ul class="list-unstyled">
          <li class="my-2"><i class='bx bx-home'></i>273 An Dương Vương Phường 3 Quận 5</li>
          <li class="my-2"><i class='bx bx-envelope'></i>
          theemail@gmail.com</li>
          <li class="my-2"><i class='bx bx-phone'></i>+123456789</li>
          <li class="my-2"><i class='bx bx-printer'></i>+987654321</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright text-center py-3">
    <p>&copy; Copyright <a href="#"> Theemail@gmail.com </a></p>
  </div>
</footer>