<nav class="d-flex justify-content-between align-items-center p-3 " style="box-shadow: 1px 4px 14px -1px rgba(122, 122, 122, 0.75)">
  <a href="{% url 'homepage' %}" class="logo">Django Blog</a>
  <div class="search-bar d-flex justify-content-between align-items-center" style="border: 1px solid lightgray; border-radius: 3px;">
    <input type="text" placeholder="Search" style="padding: 0.5rem 1rem; outline: none; border: none;">
    <a class="bg-primary text-white" href="" style="padding: 0.5rem 1rem; border-radius: 0px 3px 3px 0px;"><i class='bx bx-search-alt-2' ></i></a>
  </div>
  <div class="navigation-bar d-flex justify-content-between align-items-center">
    <div class="d-flex">
      <div class="nav-item">
        <a class="nav-link" href="{% url 'homepage' %}">Trang Chủ</a>
      </div>
      <div class="nav-item">
        <a class="nav-link" href="{% url 'aboutus' %}">About</a>
      </div>
      {% if request.user.is_authenticated %}
      <div class="nav-item">
        <a class="nav-link" href="{% url 'logout' %}" style="font-size: 1.2rem;"><i class='bx bxs-user-check'></i></a>
      </div>
      {% else %}
      <div class="nav-item">
        <a class="nav-link" href="{% url 'login' %}"><i class='bx bxs-user' style="font-size: 1.2rem;" ></i></a>
      </div>
      {% endif %}
    </div>
  </div>
</nav>