{% extends 'base.html' %}

{% block content %}
<br>
<br>
<div class="container">
  <div class="jumbotron">
    <h1>Blog Lập Trình</h1>
    <a class="badge badge-primary" href="{% url 'create-article' %}">Create Article</a>
  </div>

  <ul class="list-inline mt-5">
    {%for item in category %}
      <li class="list-inline-item">
        <h5>
          <a class="social-icon text-xs-center badge badge-primary p-3" href="{% url 'category' item.slug  %}">{{item.name}}</a>
        </h5>
      </li>
    {% endfor %}
  </ul>

  <div class="row">
    <div class="col-sm-8" style="display: flex; flex-wrap: wrap; gap: 1rem;">
      {% for post in posts %}
      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="{{post.img}}" alt="Card image cap">
        <div class="card-body bg-white">
          <a href="{{post.slug}}" class="card-title">{{post.title}}</a>
          <p class="card-text" style="height: 4rem; overflow-y: hidden;">{{post.desc}}</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
      {% endfor %}
    </div>
    <div class="col-sm-4">
      <div class="card text-white bg-primary mb-3" style="max-width: 18rem">
        <div class="card-header">Header</div>
        <div class="card-body">
          <h5 class="card-title">Primary card title</h5>
          <p class="card-text">
            Some quick example text to build on the card title and make up the
            bulk of the card's content.
          </p>
        </div>
      </div>
      
    </div>
  </div>
</div>
{% endblock %}